body{
    background-color: black;
}

.wrapper{
    max-width: 470px;
    margin:10px auto;
}

.target{
    margin: 20px auto;
    background-color: black;
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    row-gap: 6px;
    column-gap: 6px;
}

.box{    
    background-color: blanchedalmond;
    border-radius: 5px;
}

.container{
    background-color: rgb(101, 151 , 91);
    /* padding-left: 650px; */
    padding: 9px;
    height: 450px;
    width: 450px;
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: repeat(5 , 1fr);
    row-gap: 5px;
    column-gap: 5px;
}
    
.item{
    background-color: blanchedalmond;
    border-radius: 5px;

}

#empty{
    background-color: rgb(101, 151 , 91);
    border-radius: 5px;
}

.msg{
    color: white;
    text-align: center;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.footer{
    color:whitesmoke;
    background-color: rgb(101, 151 , 91);
    margin-top: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}
